# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     ec2-54-235-120-39.compute-1.amazonaws.com
    database_port:     5432
    database_name:     d99bnrrtameg7c
    database_user:     iotoszcfyjmjpy
    database_password: 5cf0dc8e1172b5ce1dbf829b3bbc638cf4a7bbb03c06a07ac3e86309cdd4e28e
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
    admin_skin: skin-blue

    fos_elastica.host: https://7qyq60un:my0hsnx21qw3gql2@banyan-1985489.us-east-1.bonsaisearch.net
    fos_elastica.port: 9200
