{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}

{% block page_content %}

    <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Nouveau client</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" value="Créer" class="btn btn-primary" />
              {{ form_end(form) }}
            </div>
            <!-- /.box-body -->
          </div>

{% endblock %}
